node_modules/
dist/
.env

uploads/
outputs/

*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stego-web-backend/python/__pycache__/common.cpython-311.pyc



# Python test artifacts
stego-web-backend/python/test_output/
stego-web-backend/python/test_audio.wav
stego-web-backend/python/test_image.png
